@import "src/scssStyles/mixins";
@import "src/scssStyles/variables";

.drop-down-categories {
  position: relative;
}

.table-categories {
  overflow: visible;
}

.drop-down-categories__button {
  background-color: white;
  height: 50px;
  border-radius: 6px;
  margin-top: 5px;
  cursor: pointer;
  width: 300px;
  @include flex-horizontal-center-space;
  padding-left: 15px;
  padding-right: 15px;
}

.drop-down-categories__button-text {
  font-size: 17px;
  color: $dark-grey-light;
}

.sub-categories {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
}
