@import "src/scssStyles/mixins";
@import "src/scssStyles/variables";

.drop-down-categories {
  position: relative;
  height: 100%;
}

.table-categories {
  overflow: visible;
}

.drop-down-categories__button {
  background-color: white;
  height: 100%;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  @include flex-horizontal-center-space;
  padding-left: 15px;
  padding-right: 15px;
}

.drop-down-categories__button-text {
  font-size: 17px;
  color: $dark-grey-light;
}

.sub-categories {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1000;
}
.drop-down-categories__arrow{
  transition: transform 0.3s;
}
.drop-down-categories__arrow_rotate{
  transform: rotate(180deg);
}