@import "src/scssStyles/variables";
@import "src/scssStyles/mixins";
@import "src/scssStyles/variables";

.product-page {
  @include padding-container;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 450px auto;
  padding-top: 20px;
}