@import "./variables";
@import "./mixins";

.white-block-main {
  background-color: white;
  @include flex-horizontal-center;
  flex-direction: column;
}

.white-block {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

.input_blue {
  background-color: $light-blue;
  border-radius: 6px;
}

.checkbox {
  width: 20px;
  height: 20px;
  accent-color: $dark-grey;
}

.error {
  color: red;
}