$dark-grey: rgba(42, 42, 42, 1);
$dark-grey-light: rgb(93, 93, 93);
$grey: rgba(217, 217, 217, 1);
$light-grey: rgba(231, 232, 232, 1);
$light-blue: rgba(232, 240, 254, 1);
$grey-hover: rgba(240, 238, 238, 1);
$blue: rgba(38, 93, 234, 1);