@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";
@import "../../scssStyles/basic";

.auth-container {
  @include padding-container;
  @include flex-center;
}

.auth-form {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 30px;
  width: 300px;
}

.auth-form__menu {
  display: flex;
}

.auth-form__input {
  @include input-basic;
  @extend .input_blue;
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  padding: 3px 5px;
}

.auth-form__input:focus {
  outline: none;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid black;
}

.auth-form__menu-item {
  font-size: 15px;
  cursor: pointer;
  @include reset-link;
  color: black;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
}

.auth-form__menu-item.active {
  border-bottom: 2px solid black;
}

.auth-form__underline {
  margin-bottom: 25px;
}

.auth-form__description {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

.auth-form__button {
  padding: 10px 15px;
  background-color: $grey;
  width: 100%;
  margin-top: 20px;
  border-radius: 7px;
}

.register-text-info {
  font-size: 13px;
}

.error-auth {

  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}