@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";

.header {
  @include padding-container;
  @include flex-horizontal-center-space;
  background-color: $dark-grey;
  height: 60px;
}


@media screen and (max-width: 480px) {
  .header{
    display: none;
  }
}