@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";

.header {
  @include padding-container;
  @include flex-horizontal-center-space;
  background-color: $dark-grey;
  height: 60px;
}


@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .header {
    @include padding-container-small-screen;
  }

}