@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";

.main-menu__list {
  @include reset-list;
  @include flex-horizontal-center-space;
  color: white;
  position: relative;
}

.main-menu__item:not(:last-child) {
  @include flex-horizontal-center;
  padding: 0 20px;
  cursor: pointer;
}

.main-menu__item:last-child {
  padding-left: 20px;
}

.main-menu__item:hover {
  color: $grey;
}

.main-menu__icon {
  width: 20px;
  height: 20px;
}

.main-menu__icon_margin_r {
  margin-right: 10px;
}

.main-menu__icon-arrow {
  margin-left: 10px;
}
.main-menu__button{
  padding: 10px 15px;
  background-color: $grey;
  border-radius: 7px;
}