@import "../../../../scssStyles/mixins";
@import "../../../../scssStyles/variables";

.my-posts-search {
  padding: 35px 0 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  position: relative;
}

.my-posts-search-item {
  height: 40px;
  @include input-basic;
  border-radius: 7px;
  padding: 10px;
}

.my-posts-search-item::placeholder {
  font-size: 17px;
}

.my-posts-search__item-categories{
  height: 40px;
}

.my-posts-search-item:focus {
  border-bottom: 2px solid black;
}

.select-option {
  font-size: 17px;
  color: $dark-grey-light;
}

.my-posts-search-count {
  position: absolute;
  bottom: 10px;
}
