@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";
@import "../../scssStyles/basic";

.create-post-submit {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button-underline {
  background: none;
  font-weight: bold;
  border-bottom: 2px solid black;
  height: 23px;
}

.button-underline:hover {
  color: $blue;
  border-bottom: 2px solid $blue;
}

.button-dark {
  color: white;
  background-color: $dark-grey;
  padding: 15px;
  border-radius: 7px;
}

.button-dark:hover {
  background-color: $dark-grey-light;
}

.button-submit-margin {
  margin-right: 30px;
}


@media screen and (max-width: 768px) {
  .create-post-submit {
    padding-bottom: 100px;
  }
}