@import "../../scssStyles/variables";
@import "../../scssStyles/mixins";
@import "../../scssStyles/basic";
@import './create-post';

.create-post-city {
  @extend .create-post-container__input;
  margin-top: 20px;
  width: 100%;
  font-size: 17px;
}


.search-region-create-post {
  position: relative;
  width: 25%;
}

@media screen and (max-width: 768px) {
  .search-region-create-post {
    width: 100%;
  }
}
