@import "src/scssStyles/mixins";

.search-product-card {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  background-color: white;
  border-radius: 7px;
  @include reset-link;
  color: black;
}

.search-product-card:first-child {
  margin-top: 20px;
}

.search-product-card__image {
  width: 230px;
  height: 150px;
  margin-right: 20px;
}

.search-product-card__price {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.search-product-card__info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-product-card__product-name {
  font-weight: bold;
  font-size: 20px;
}

.search-product-card__count {
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  .search-product-card__image {
    width: 140px;
    height: 100px;
  }
  .search-product-card__product-name {
    font-size: 16px;
    font-weight: normal;
  }
  .search-product-card__price {
    font-size: 15px;
  }

  .search-product-card__price {
    position: static;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-page {
    @include padding-container-small-screen;
  }
}